body {
	margin: 0px 150px 0px;
	font-size: large;
}

/*---２つのブロック要素を左右に寄せる---*/

div {
	display: flex;
	margin-bottom: 15px;
}

.div_left {
	flex-grow: 1;
}

.div_right {
	flex-grow: 1;
	text-align: right;
}

/*---form---*/

ul {
	padding: 0;
}

ul li {
	list-style: none;
	margin-bottom: 15px;
}

ul li label {
	font-weight: bold;
	width: 170px;
}

.required::after {
  content: " *";
  color: red;
  vertical-align: middle;
}

ul li input {
	margin-right: 100px;
	text-align: right;
	padding-right: 5px;
}

/*---tableヘッダー中央寄せ---*/
th {
	text-align: center;
	vertical-align: middle;
}